@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&display=swap');

.skill-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2c3e50; /* Adjust the color as needed */
  color: white;
  font-weight: bold;
}

